.header {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
}

.logo {
  width: 100px;
  height: 30px;
  opacity: 1;
  transition: opacity .2s linear;
}
