.header {
  display: flex;
  justify-content: start;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
}

.logo {
  width: 100px;
  height: 30px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.logo:hover {
  opacity: .7;
}
